.footer {
    text-align: center;
    background-color: var(--primaryColor, 2e4057);
    padding: 2em;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    justify-content: center;
    align-items: center;
  }
  
  .contact a {
    color: white;
  }
  
  .contact a:hover {
    color: var(--accentTwo, #ffd500);
    transition: 0.25s;
  }

  .social{
    display: flex;
    gap: 1em;
    justify-content: center;
  }

  .social img{
    width: 40px;
  }

  
  @media screen and (min-width: 768px) {
    .footer {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .social{
        gap: 2em;
      }
  }
  