.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  background-color: var(--primaryColor, #2e4057);
  padding: 1em;
}

.header img {
  width: 125px;
}
