/* https://github.com/cyntler/hamburger-react */
.mobileNavBox {
    position: relative;
  }
  
  .mobileNav ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
    list-style: none;
  }
  
  .mobileNav {
    position: absolute;
    top: 75px;
    right: 10px;
    width: 90vw;
    padding: 30px;
    background-color: var(--primaryColor, #395144);
    color:white;
    border-radius: 2px 2px 10px 10px;
  }
  @media screen and (min-width: 550px) {
    .mobileNavBox {
      display: none;
    }
  }
  