.aboutBox,
.skillsBox {
  margin: 1em auto;
  padding: 25px;
  max-width: 1200px;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
}

.aboutBox h1,
.skillsBox h1 {
  margin-bottom: 1em;
}

.skillsBox {
  background-color: #9cafb7;
}
.skillsContent {
  grid-row: 1/2;
}

.skillsContent button {
  width: 80%;
}

.about img {
  justify-self: center;
  align-self: center;
  width: 70%;
}

.skilsWrapper {
  background-color: #9cafb7;
  padding: 5px;
}

.btnBox {
  max-width: 200px;
}

.btnBox button {
  margin: 0;
}

.btnBox a {
  color: white;
}

.text {
  margin-bottom: 1em;
}

@media screen and (min-width: 768px) {
  .about img {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .aboutBox,
  .skillsBox {
    gap: 2em;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 4em;
  }

  .skillsContent {
    grid-column: 2/3;
  }

  .about img {
    justify-self: center;
    align-self: center;
    width: 80%;
  }
}
