.home {
  /* background-color: antiquewhite; */
}

.homeWrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 1em;
  max-width: 1400px;
  
}
.welcomeBox {
  display: flex;
  flex-direction: column;

  gap: 1em;
  margin: 0 auto;
  padding: 10px;
  max-width: 900px;
}

.welcomeBox .btnBox {
  max-width: 200px;
}

.homeWrapper img {
  width: 300px;
  justify-self: center;
}

.fadeIn {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .homeWrapper {
    gap: 3em;
  }
}

@media screen and (min-width: 1000px) {
  .homeWrapper {
    flex-direction: row;
    margin-top: 4em;
  }

  /* .home{
    padding: 5em;
  } */
}

@media screen and (min-width: 1400px) {
    .homeWrapper {
        flex-direction: row;
        margin-top: 6em;
      }
  }
