:root {
  --primaryColor: #395144;
  --secondaryColor: #f0ebce;
  --accentOne: #5a7e5d;
  --accentTwo: #aa8b56;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--secondaryColor, #f0ebce);
}

html {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Source Sans 3", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

p {
  line-height: 1.5;
  letter-spacing: 2px;
}

img {
  border-radius: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

nav a {
  color: white;
}

.banner {
  text-align: center;
  padding: 15px;
  max-width: 250px;
  margin: 2em auto;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.btnBox {
  max-width: 300px;
  margin: 1em auto;
}

.btnBox button {
  margin: 0;
}

.btnBox a {
  color: white;
}
