.radio {
    position: relative;
    width: 125px;
    height: 35px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    background-color: #f3f3f3;
    transition: 0.25s;
    font-size: 18px;
  }
  
  .radio input,
  .radio label {
    display: block;
    position: absolute;
    border: 1px solid black;
    border-radius: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 18px;
  }
  
  .radio input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
  }
  
  .radio input[type="radio"]:checked + label {
    background-color: #5a7e5d;
    color:white;
  }
  
  .radio label {
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
    z-index: 50;
  }
  
  .radio:hover {
    border-radius: 10px;
    background-color: #AA8B56;
  }
  